In [2]:
import pandas as pd
import numpy as np

In [3]:
api_response = 'https://api.github.com/repos/pandas-dev/pandas/issues'
df_api_resonse = pd.read_json(api_response)

In [4]:
df_api_resonse.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,author_association,active_lock_reason,body,closed_by,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60023,2582233739,I_kwDOAA0YD86Z6cKL,60023,"BUG: ""Python int too large"" in maybe_convert_o...",...,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60018,2580151461,I_kwDOAA0YD86Zyfyl,60018,"BUG: when using id_vars in .melt(), the id_var...",...,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60017,2580014615,I_kwDOAA0YD86Zx-YX,60017,QST: how can I save my sparse dataframe with i...,...,NONE,NaN,### Research\n\n- [X] I have searched the [[pa...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60016,2579964188,I_kwDOAA0YD86ZxyEc,60016,BUILD: pandas fails to install with python-fre...,...,NONE,NaN,### Installation check\n\n- [X] I have read th...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60010,2576524873,I_kwDOAA0YD86ZkqZJ,60010,DOC: Update contributing documentation with co...,...,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [5]:
import requests
data = requests.get(api_response)

In [6]:
data

In [7]:
resp = data.json()

In [8]:
print(type(resp))

<class 'list'>

In [9]:
resp

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60023',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60023/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60023/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60023/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/60023',
  'id': 2582233739,
  'node_id': 'I_kwDOAA0YD86Z6cKL',
  'number': 60023,
  'title': 'BUG: "Python int too large" in maybe_convert_objects with numpy 1.26',
  'user': {'login': 'bemoody',
   'id': 7748246,
   'node_id': 'MDQ6VXNlcjc3NDgyNDY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/7748246?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bemoody',
   'html_url': 'https://github.com/bemoody',
   'followers_url': 'https://api.github.com/users/bemoody/followers',
   'following_url': 'https://api.github.com/users/bemoody/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bemoody/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bemoody/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bemoody/subscriptions',
   'organizations_url': 'https://api.github.com/users/bemoody/orgs',
   'repos_url': 'https://api.github.com/users/bemoody/repos',
   'events_url': 'https://api.github.com/users/bemoody/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bemoody/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2024-10-11T21:47:06Z',
  'updated_at': '2024-10-12T11:33:14Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n### Reproducible Example\n\n`pip install numpy==1.26.4 pandas==2.2.3`\n\n```\nimport numpy, pandas\nnumpy._set_promotion_state("weak_and_warn")\nx = pandas.DataFrame({"x": [1]})\nprint(x)\n```\n\n### Issue Description\n\nIf using numpy 1.26, and numpy is set to "weak" or "weak_and_warn" promotion mode (meant to be compatible with the behavior of numpy 2.x), this causes internal pandas functions to fail.\n\nFor example, the above command to print a trivial DataFrame results in:\n```\nTraceback (most recent call last):\n  File "<stdin>", line 1, in <module>\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/core/frame.py", line 1214, in __repr__\n    return self.to_string(**repr_params)\n           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/util/_decorators.py", line 333, in wrapper\n    return func(*args, **kwargs)\n           ^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/core/frame.py", line 1394, in to_string\n    return fmt.DataFrameRenderer(formatter).to_string(\n           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/io/formats/format.py", line 962, in to_string\n    string = string_formatter.to_string()\n             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/io/formats/string.py", line 29, in to_string\n    text = self._get_string_representation()\n           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/io/formats/string.py", line 53, in _get_string_representation\n    return self._fit_strcols_to_terminal_width(strcols)\n           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/io/formats/string.py", line 163, in _fit_strcols_to_terminal_width\n    col_lens = Series([Series(ele).str.len().max() for ele in strcols])\n               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/core/series.py", line 584, in __init__\n    data = sanitize_array(data, index, dtype, copy)\n           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/core/construction.py", line 654, in sanitize_array\n    subarr = maybe_convert_platform(data)\n             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "/home/benjamin/v/lib/python3.11/site-packages/pandas/core/dtypes/cast.py", line 138, in maybe_convert_platform\n    arr = lib.maybe_convert_objects(arr)\n          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "lib.pyx", line 2602, in pandas._libs.lib.maybe_convert_objects\nOverflowError: Python int too large to convert to C long\n```\n\nThis doesn\'t happen with numpy 1.26 in its default "legacy" mode.  It doesn\'t happen with numpy 2.x in either "legacy" or "weak" mode.\n\nMore information about numpy 1.x versus 2.x and promotion modes is documented here: https://numpy.org/devdocs/numpy_2_0_migration_guide.html#changes-to-numpy-data-type-promotion\n\n### Expected Behavior\n\n`print(pandas.DataFrame({"x": [1]}))` should not crash.  It should work properly regardless of the global numpy promotion setting.\n\n### Installed Versions\n\n<details>\n\n```\nINSTALLED VERSIONS\n------------------\ncommit                : 0691c5cf90477d3503834d983f69350f250a6ff7\npython                : 3.11.2\npython-bits           : 64\nOS                    : Linux\nOS-release            : 6.1.0-7-amd64\nVersion               : #1 SMP PREEMPT_DYNAMIC Debian 6.1.20-2 (2023-04-08)\nmachine               : x86_64\nprocessor             : \nbyteorder             : little\nLC_ALL                : None\nLANG                  : en_US.UTF-8\nLOCALE                : en_US.UTF-8\n\npandas                : 2.2.3\nnumpy                 : 1.26.4\npytz                  : 2024.2\ndateutil              : 2.9.0.post0\npip                   : 23.0.1\nCython                : None\nsphinx                : None\nIPython               : None\nadbc-driver-postgresql: None\nadbc-driver-sqlite    : None\nbs4                   : None\nblosc                 : None\nbottleneck            : None\ndataframe-api-compat  : None\nfastparquet           : None\nfsspec                : None\nhtml5lib              : None\nhypothesis            : None\ngcsfs                 : None\njinja2                : None\nlxml.etree            : None\nmatplotlib            : None\nnumba                 : None\nnumexpr               : None\nodfpy                 : None\nopenpyxl              : None\npandas_gbq            : None\npsycopg2              : None\npymysql               : None\npyarrow               : None\npyreadstat            : None\npytest                : None\npython-calamine       : None\npyxlsb                : None\ns3fs                  : None\nscipy                 : None\nsqlalchemy            : None\ntables                : None\ntabulate              : None\nxarray                : None\nxlrd                  : None\nxlsxwriter            : None\nzstandard             : None\ntzdata                : 2024.2\nqtpy                  : None\npyqt5                 : None\n```\n\n</details>\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60023/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60023/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60018',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60018/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60018/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60018/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/60018',
  'id': 2580151461,
  'node_id': 'I_kwDOAA0YD86Zyfyl',
  'number': 60018,
  'title': 'BUG: when using id_vars in .melt(), the id_vars does not recognize the column name in a multiIndex dataframe',
  'user': {'login': 'ivan-marroquin',
   'id': 28459534,
   'node_id': 'MDQ6VXNlcjI4NDU5NTM0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/28459534?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ivan-marroquin',
   'html_url': 'https://github.com/ivan-marroquin',
   'followers_url': 'https://api.github.com/users/ivan-marroquin/followers',
   'following_url': 'https://api.github.com/users/ivan-marroquin/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ivan-marroquin/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ivan-marroquin/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ivan-marroquin/subscriptions',
   'organizations_url': 'https://api.github.com/users/ivan-marroquin/orgs',
   'repos_url': 'https://api.github.com/users/ivan-marroquin/repos',
   'events_url': 'https://api.github.com/users/ivan-marroquin/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ivan-marroquin/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-10-11T00:48:34Z',
  'updated_at': '2024-10-11T00:48:34Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\nimport yfinance as yf\r\nfrom datetime import date, timedelta\r\n\r\nend_date= date.today().strftime("%Y-%m-%d")\r\nstart_date= (date.today() - timedelta(days= 365)).strftime("%Y-%m-%d")\r\n\r\ntickers= [\'RELIANCE.NS\', \'TCS.NS\', \'INFY.NS\', \'HDFCBANK.NS\']\r\n\r\ndata= yf.download(tickers, start= start_date, end= end_date)\r\n\r\ndata= data.reset_index()\r\n\r\ndata_melted= data.melt(id_vars= [\'Date\'], var_name= [\'Attribute\', \'Ticker\'])\n```\n\n\n### Issue Description\n\nKeyError                                  Traceback (most recent call last)\r\nCell In [19], [line 15](vscode-notebook-cell:?execution_count=19&line=15)\r\n     [11](vscode-notebook-cell:?execution_count=19&line=11) data= data.reset_index()\r\n     [13](vscode-notebook-cell:?execution_count=19&line=13) # melt the DataFrame to make it long format where each row is a \r\n     [14](vscode-notebook-cell:?execution_count=19&line=14) # unique combination of Date, Ticker, and attributes\r\n---> [15](vscode-notebook-cell:?execution_count=19&line=15) data_melted= data.melt(id_vars= [\'Date\'], var_name= [\'Attribute\', \'Ticker\'])\r\n     [17](vscode-notebook-cell:?execution_count=19&line=17) # pivot the melted DataFrame to have the attributes (Open, High, Low, etc.) as columns\r\n     [18](vscode-notebook-cell:?execution_count=19&line=18) data_pivoted= data_melted.pivot_table(index= [\'Date\', \'Ticker\'], \r\n     [19](vscode-notebook-cell:?execution_count=19&line=19)                                       columns= \'Attribute\', values= \'value\', \r\n     [20](vscode-notebook-cell:?execution_count=19&line=20)                                       aggfunc= \'first\')\r\n\r\nFile ~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9942, in DataFrame.melt(self, id_vars, value_vars, var_name, value_name, col_level, ignore_index)\r\n   [9932](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9932) @Appender(_shared_docs["melt"] % {"caller": "df.melt(", "other": "melt"})\r\n   [9933](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9933) def melt(\r\n   [9934](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9934)     self,\r\n   (...)\r\n   [9940](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9940)     ignore_index: bool = True,\r\n   [9941](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9941) ) -> DataFrame:\r\n-> [9942](https://file+.vscode-resource.vscode-cdn.net/home/ivan_phd/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9942)     return melt(\r\n   [9943](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9943)         self,\r\n   [9944](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9944)         id_vars=id_vars,\r\n   [9945](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9945)         value_vars=value_vars,\r\n   [9946](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9946)         var_name=var_name,\r\n   [9947](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/frame.py:9947)         value_name=value_name,\r\n...\r\n     [77](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/reshape/melt.py:77)     )\r\n     [78](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/reshape/melt.py:78) if value_vars_was_not_none:\r\n     [79](https://file+.vscode-resource.vscode-cdn.net/home/ivan/python_fun/Data_Analytics/~/python_3.9.0/lib/python3.9/site-packages/pandas/core/reshape/melt.py:79)     frame = frame.iloc[:, algos.unique(idx)]\r\n\r\nKeyError: "The following id_vars or value_vars are not present in the DataFrame: [\'Date\']"\n\n### Expected Behavior\n\nThe melt function should generate a  DataFrame to make it long format where each row is a unique combination of Date, Ticker, and attributes\n\n### Installed Versions\n\n<details>\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140\r\npython                : 3.9.0.final.0\r\npython-bits           : 64\r\nOS                    : Linux\r\nOS-release            : 6.5.0-25-generic\r\nVersion               : #25~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Tue Feb 20 16:09:15 UTC 2\r\nmachine               : x86_64\r\nprocessor             : x86_64\r\nbyteorder             : little\r\nLC_ALL                : None\r\nLANG                  : en_US.UTF-8\r\nLOCALE                : en_US.UTF-8\r\n\r\npandas                : 2.2.2\r\nnumpy                 : 1.23.3\r\npytz                  : 2024.2\r\ndateutil              : 2.8.2\r\nsetuptools            : 59.8.0\r\npip                   : 22.3.1\r\nCython                : 0.29.32\r\npytest                : None\r\nhypothesis            : None\r\nsphinx                : 5.1.1\r\nblosc                 : None\r\nfeather               : None\r\nxlsxwriter            : None\r\nlxml.etree            : 4.9.1\r\nhtml5lib              : 1.1\r\npymysql               : None\r\npsycopg2              : None\r\njinja2                : 3.1.2\r\nIPython               : 8.5.0\r\npandas_datareader     : None\r\nadbc-driver-postgresql: None\r\nadbc-driver-sqlite    : None\r\nbs4                   : None\r\nbottleneck            : None\r\ndataframe-api-compat  : None\r\nfastparquet           : None\r\nfsspec                : 2024.6.1\r\ngcsfs                 : None\r\nmatplotlib            : None\r\nnumba                 : None\r\nnumexpr               : 2.10.1\r\nodfpy                 : None\r\nopenpyxl              : 3.1.2\r\npandas_gbq            : None\r\npyarrow               : 16.1.0\r\npyreadstat            : None\r\npython-calamine       : None\r\npyxlsb                : None\r\ns3fs                  : 2024.6.1\r\nscipy                 : 1.13.1\r\nsqlalchemy            : 2.0.31\r\ntables                : None\r\ntabulate              : 0.9.0\r\nxarray                : 2024.6.0\r\nxlrd                  : None\r\nzstandard             : None\r\ntzdata                : 2023.3\r\nqtpy                  : None\r\npyqt5                 : None\r\n\r\nPython 3.9.0\r\n</details>\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60018/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60018/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60017',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60017/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60017/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60017/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/60017',
  'id': 2580014615,
  'node_id': 'I_kwDOAA0YD86Zx-YX',
  'number': 60017,
  'title': 'QST: how can I save my sparse dataframe with indexes and columns to a format other than .pkl?',
  'user': {'login': 'michelkluger',
   'id': 50880307,
   'node_id': 'MDQ6VXNlcjUwODgwMzA3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/50880307?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/michelkluger',
   'html_url': 'https://github.com/michelkluger',
   'followers_url': 'https://api.github.com/users/michelkluger/followers',
   'following_url': 'https://api.github.com/users/michelkluger/following{/other_user}',
   'gists_url': 'https://api.github.com/users/michelkluger/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/michelkluger/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/michelkluger/subscriptions',
   'organizations_url': 'https://api.github.com/users/michelkluger/orgs',

In [10]:
df = pd.DataFrame(resp)

In [11]:
df

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,author_association,active_lock_reason,body,closed_by,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60023,2582233739,I_kwDOAA0YD86Z6cKL,60023,"BUG: ""Python int too large"" in maybe_convert_o...",...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60018,2580151461,I_kwDOAA0YD86Zyfyl,60018,"BUG: when using id_vars in .melt(), the id_var...",...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60017,2580014615,I_kwDOAA0YD86Zx-YX,60017,QST: how can I save my sparse dataframe with i...,...,NONE,None,### Research\n\n- [X] I have searched the [[pa...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60016,2579964188,I_kwDOAA0YD86ZxyEc,60016,BUILD: pandas fails to install with python-fre...,...,NONE,None,### Installation check\n\n- [X] I have read th...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60010,2576524873,I_kwDOAA0YD86ZkqZJ,60010,DOC: Update contributing documentation with co...,...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60009,2576509317,I_kwDOAA0YD86ZkmmF,60009,DOC: document that DataFrame and Series round(...,...,NONE,None,[DataFrame.round](https://pandas.pydata.org/do...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59997,2570805315,PR_kwDOAA0YD8591fRr,59997,BUG: fix #59965 skipna=True operations don't s...,...,NONE,None,- Issue: The skipna was not properly handl...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59994,2570374005,PR_kwDOAA0YD8590FEn,59994,enhancement on times.py,...,NONE,None,- [ ] closes #59931 (Replace xxxx with the Gi...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59993,2570365077,PR_kwDOAA0YD8590DHV,59993,"Enhancements in numeric.py for 0x,0o,0b",...,NONE,None,- [x] closes #59207 (Replace xxxx with the Git...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59987,2569446341,PR_kwDOAA0YD859xDGj,59987,Fix: Change None values to NaN in combine_firs...,...,NONE,None,### Description\r\n\r\nThis pull request addre...,"{'login': 'Lavishgangwani', 'id': 154001570, '...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59977,2568282267,I_kwDOAA0YD86ZFOCb,59977,ENH: Add support for generating 4-4-5 but by m...,...,NONE,None,### Feature Type\n\n- [X] Adding new functiona...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59976,2568026073,I_kwDOAA0YD86ZEPfZ,59976,DOC: Improve docs in the dt namespace,...,MEMBER,None,Ref: https://github.com/pandas-dev/pandas/pull...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59972,2567554253,PR_kwDOAA0YD859rTGm,59972,DOC: Fix title capitalization in documentation...,...,NONE,None,Corrected title capitalization in various .rst...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59971,2567203196,PR_kwDOAA0YD859qUuE,59971,BUG: fix #59950 handle duplicate column names ...,...,NONE,None,### Issue Description\r\n\r\nWhen calling `Dat...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59965,2566138436,I_kwDOAA0YD86Y9CpE,59965,BUG: skipna=True operations don't skip NaN in ...,...,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59963,2565996942,PR_kwDOAA0YD859mho8,59963,Fix API: astype method fails to raise errors f...,...,NONE,None,- [x] closes #59899 (Replace xxxx with the Git...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59956,2565553657,I_kwDOAA0YD86Y6z35,59956,ENH: Disable Numpy memory allocation while concat,...,NONE,None,### Feature Type\n\n- [ ] Adding new functiona...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59955,2565217863,PR_kwDOAA0YD859kBS-,59955,DOCS: fix docstring validation errors for pand...,...,NONE,None,Fixes the following issues from #59595 \r\n\r\...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59954,2565140689,PR_kwDOAA0YD859jw7E,59954,BUG: PeriodIndex.to_datetime inconsistent with...,...,CONTRIBUTOR,None,- [x] closes #59371\r\n- [x] [Tests added and ...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59953,2564147199,I_kwDOAA0YD86Y1cf_,59953,ENH: Is there a way to plot a long format data...,...,NONE,None,### Feature Type\n\n- [ ] Adding new functiona...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59950,2563513795,I_kwDOAA0YD86YzB3D,59950,BUG: DataFrame.query() throws error when df ha...,...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59948,2563181832,PR_kwDOAA0YD859dHgl,59948,Update html.py,...,NONE,None,Adding a mathjax_ignore as a bug fix to ensure...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59947,2562806464,PR_kwDOAA0YD859b4oy,59947,Update hist.py,...,NONE,None,"Minor improvement, allowing inference of the x...",None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59942,2561946080,PR_kwDOAA0YD859Y9J0,59942,"Enhanced numeric.py to process hexadecimal,dec...",...,NONE,None,\r\n- [x] closes #59207 (Replace xxxx with the...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59937,2561181331,PR_kwDOAA0YD859W2ag,59937,Backport PR #59906 on branch 2.3.x (BLD: Fix a...,...,CONTRIBUTOR,None,Backport PR #59906: BLD: Fix armv7 build,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59935,2560968766,PR_kwDOAA0YD859WH1R,59935,Handling conversion of empty categorical with ...,...,NONE,None,Handling the case where conversion of empty ca...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59934,2560944506,I_kwDOAA0YD86YpOl6,59934,BUG: Trying to use convert_dtypes with dtype_b...,...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59933,2560390330,I_kwDOAA0YD86YnHS6,59933,BUG: locset with Series as column key fails in...,...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59932,2559779205,I_kwDOAA0YD86YkyGF,59932,BUG: np.nan_to_num change pandas DataFrame in ...,...,NONE,None,### Pandas version checks\n\n- [X] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59931,2559117094,I_kwDOAA0YD86YiQcm,59931,ENH: Add support to customize time format and ...,...,NONE,None,### Feature Type\n\n- [ ] Adding new functiona...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN

In [12]:
df.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'body', 'closed_by', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason', 'draft', 'pull_request'],
      dtype='object')

In [13]:
df['node_id']

0      I_kwDOAA0YD86Z6cKL
1      I_kwDOAA0YD86Zyfyl
2      I_kwDOAA0YD86Zx-YX
3      I_kwDOAA0YD86ZxyEc
4      I_kwDOAA0YD86ZkqZJ
5      I_kwDOAA0YD86ZkmmF
6     PR_kwDOAA0YD8591fRr
7     PR_kwDOAA0YD8590FEn
8     PR_kwDOAA0YD8590DHV
9     PR_kwDOAA0YD859xDGj
10     I_kwDOAA0YD86ZFOCb
11     I_kwDOAA0YD86ZEPfZ
12    PR_kwDOAA0YD859rTGm
13    PR_kwDOAA0YD859qUuE
14     I_kwDOAA0YD86Y9CpE
15    PR_kwDOAA0YD859mho8
16     I_kwDOAA0YD86Y6z35
17    PR_kwDOAA0YD859kBS-
18    PR_kwDOAA0YD859jw7E
19     I_kwDOAA0YD86Y1cf_
20     I_kwDOAA0YD86YzB3D
21    PR_kwDOAA0YD859dHgl
22    PR_kwDOAA0YD859b4oy
23    PR_kwDOAA0YD859Y9J0
24    PR_kwDOAA0YD859W2ag
25    PR_kwDOAA0YD859WH1R
26     I_kwDOAA0YD86YpOl6
27     I_kwDOAA0YD86YnHS6
28     I_kwDOAA0YD86YkyGF
29     I_kwDOAA0YD86YiQcm
Name: node_id, dtype: object

In [14]:
df.to_csv('info_csv.csv')

# working with dataset

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [16]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [18]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [19]:
df.shape

(891, 12)

In [20]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [21]:
# seprate integer , float and object datatypes
int_columns = [i for i in df.columns if df[i].dtypes=='int64']
float_columns = [i for i in df.columns if df[i].dtypes=='float64']
string_columns  = [i for i in df.columns if df[i].dtypes=='object']

In [22]:
df[string_columns]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [23]:
obj = df[df.dtypes[df.dtypes=='object'].index]

In [24]:
int64 = df[df.columns[df.dtypes!='object']]

In [25]:
int64

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [26]:
obj.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [27]:
df.describe(include='object') # show desptive stats for object data type

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [28]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [29]:
df[df.dtypes[df.dtypes=='object'].index]
df[df.columns[df.dtypes=='int64']]
df[[i for i in df.columns if df[i].dtypes=='float64']]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

slicing of rowws

In [30]:
df[10:100]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [31]:
df[1:10:1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [32]:
# if we want to add new column in data frame 
df['new col']="vicky"

In [33]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,vicky
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,vicky
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,vicky
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,vicky
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,vicky
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,vicky
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,vicky
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,vicky
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,vicky
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,vicky

In [34]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'new col'],
      dtype='object')

In [35]:
# if we want to make new column based on 2 diffrent columns  of data frame
# here we are going to create new column as family couunt as we have Parch Parch
df['family count'] = df['Parch'] + df['SibSp']

In [36]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new col,family count
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,vicky,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,vicky,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,vicky,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,vicky,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,vicky,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,vicky,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,vicky,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,vicky,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,vicky,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,vicky,0

In [37]:
df.drop(columns='new col',inplace=True)

In [38]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'family count'],
      dtype='object')

In [39]:
pd.Categorical(df['Pclass']) # here we will get lenght and unique value  and number of unique value

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [40]:
obj

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [41]:
pd.Categorical(df['Embarked'])

['S', 'C', 'S', 'S', 'S', ..., 'S', 'S', 'S', 'C', 'Q']
Length: 891
Categories (3, object): ['C', 'Q', 'S']

In [42]:
# if we want to find unique value

print(df['Cabin'].unique())

[nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']

In [43]:
# if we want number of unique value then 
df['Cabin'].nunique()

147

In [44]:
df['Cabin'].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [45]:
df['Age'].value_counts()

Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [46]:
df['Age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [47]:
l1 = np.where(df['Age']<5)

In [48]:
df[df['Age']<5] # child passenger

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,family count
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,4
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,2
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,5
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,3
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,5
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,6
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,5
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,5
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,2
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,3
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,2
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,6
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,3
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,3
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,2
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,2
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,4
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,2
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,7
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,2
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,2
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,1
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,2
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,3
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,5
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,1
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,2
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,3
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,5
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,2
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,2
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,6
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,2

In [53]:
df[['PassengerId','Age','Fare','Ticket']][df['Age']<5.0]

     PassengerId   Age      Fare           Ticket
7              8  2.00   21.0750           349909
10            11  4.00   16.7000          PP 9549
16            17  2.00   29.1250           382652
43            44  3.00   41.5792    SC/Paris 2123
63            64  4.00   27.9000           347088
78            79  0.83   29.0000           248738
119          120  2.00   31.2750           347082
164          165  1.00   39.6875          3101295
171          172  4.00   29.1250           382652
172          173  1.00   11.1333           347742
183          184  1.00   39.0000           230136
184          185  4.00   22.0250           315153
193          194  3.00   26.0000           230080
205          206  2.00   10.4625           347054
261          262  3.00   31.3875           347077
297          298  2.00  151.5500           113781
305          306  0.92  151.5500           113781
340          341  2.00   26.0000           230080
348          349  3.00   15.9000       C.A. 37671
374          375  3.00   21.0750           349909
381          382  1.00   15.7417             2653
386          387  1.00   46.9000          CA 2144
407          408  3.00   18.7500            29106
445          446  4.00   81.8583            33638
469          470  0.75   19.2583             2666
479          480  2.00   12.2875          3101298
530          531  2.00   26.0000            26360
618          619  4.00   39.0000           230136
642          643  2.00   27.9000           347088
644          645  0.75   19.2583             2666
691          692  4.00   13.4167           349256
750          751  4.00   23.0000            29103
755          756  0.67   14.5000           250649
788          789  1.00   20.5750        C.A. 2315
803          804  0.42    8.5167             2625
824          825  2.00   39.6875          3101295
827          828  1.00   37.0042  S.C./PARIS 2079
831          832  0.83   18.7500            29106
850          851  4.00   31.2750           347082
869          870  4.00   11.1333           347742

In [49]:
avg_fare = df['Fare'].mean()
print(avg_fare)
df[df['Fare']<avg_fare]

32.204207968574636

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,family count
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [50]:
df[['Age','PassengerId']][df['Fare']<df['Fare'].mean()]

      Age  PassengerId
0    22.0            1
2    26.0            3
4    35.0            5
5     NaN            6
7     2.0            8
..    ...          ...
886  27.0          887
887  19.0          888
888   NaN          889
889  26.0          890
890  32.0          891

[680 rows x 2 columns]

In [75]:
df[['PassengerId','Age']][df['Fare']==0]

     PassengerId   Age
179          180  36.0
263          264  40.0
271          272  25.0
277          278   NaN
302          303  19.0
413          414   NaN
466          467   NaN
481          482   NaN
597          598  49.0
633          634   NaN
674          675   NaN
732          733   NaN
806          807  39.0
815          816   NaN
822          823  38.0

In [89]:
# how many passenggers are male and female
len(df[['Name']][df['Sex']=='male'])

577

In [90]:
len(df[['Name']][df['Sex']=='female'])

314

In [95]:
# using value_couunts
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [96]:
# if i want number of percentage of male and female

df['Sex'].value_counts(normalize=True)

Sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64

In [103]:
# how many passenger of class 1
df[df['Pclass'] == 1]
len(df[df['Pclass'] == 1])

216

In [105]:
# how many passengers have servied
df['Survived'].value_counts(normalize=True)

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [123]:
# how many females have paid more than average fare
print(avg_fare)
df[['PassengerId','Name','Sex','Fare']][(df['Sex']=='female') & (df['Fare']>avg_fare)]

32.204207968574636

,PassengerId,Name,Sex,Fare
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000
31,32,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,146.5208
43,44,"Laroche, Miss. Simonne Marie Anne Andree",female,41.5792
52,53,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,76.7292
...,...,...,...,...
853,854,"Lines, Miss. Mary Conover",female,39.4000
856,857,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,164.8667
863,864,"Sage, Miss. Dorothy Edith ""Dolly""",female,69.5500
871,872,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542
879,880,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583

In [127]:
# how many passenger are male or  paid more than average fare
df[['Age','Name','Sex']][(df['Sex']=='male') | (df['Fare']>avg_fare)]

      Age                                               Name     Sex
0    22.0                            Braund, Mr. Owen Harris    male
1    38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
3    35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4    35.0                           Allen, Mr. William Henry    male
5     NaN                                   Moran, Mr. James    male
..    ...                                                ...     ...
883  28.0                      Banfield, Mr. Frederick James    male
884  25.0                             Sutehall, Mr. Henry Jr    male
886  27.0                              Montvila, Rev. Juozas    male
889  26.0                              Behr, Mr. Karl Howell    male
890  32.0                                Dooley, Mr. Patrick    male

[681 rows x 3 columns]

In [133]:
df[['Name','Age','Sex','Fare']][df['Fare']==max(df['Fare'])]

                                   Name   Age     Sex      Fare
258                    Ward, Miss. Anna  35.0  female  512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0    male  512.3292
737              Lesurer, Mr. Gustave J  35.0    male  512.3292

In [128]:
max(df['Fare'])

512.3292

In [139]:
# find the \
df[['Name','PassengerId','Age','Survived','Parch']][(df['Survived']==1) & (df['Parch']>3)]

,Name,PassengerId,Age,Survived,Parch
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",26,38.0,1,5

In [143]:
df[['Name','PassengerId','Age','Survived','Fare','family count']][(df['Survived']==1) & (df['Fare']==max(df['Fare']))]

,Name,PassengerId,Age,Survived,Fare,family count
258,"Ward, Miss. Anna",259,35.0,1,512.3292,0
679,"Cardeza, Mr. Thomas Drake Martinez",680,36.0,1,512.3292,1
737,"Lesurer, Mr. Gustave J",738,35.0,1,512.3292,0

In [146]:
df[['Name','PassengerId','Pclass','Fare','Age','Survived']][(df['Survived']==0) & (df['Pclass']==1)]

,Name,PassengerId,Pclass,Fare,Age,Survived
6,"McCarthy, Mr. Timothy J",7,1,51.8625,54.0,0
27,"Fortune, Mr. Charles Alexander",28,1,263.0000,19.0,0
30,"Uruchurtu, Don. Manuel E",31,1,27.7208,40.0,0
34,"Meyer, Mr. Edgar Joseph",35,1,82.1708,28.0,0
35,"Holverson, Mr. Alexander Oskar",36,1,52.0000,42.0,0
...,...,...,...,...,...,...
806,"Andrews, Mr. Thomas Jr",807,1,0.0000,39.0,0
815,"Fry, Mr. Richard",816,1,0.0000,NaN,0
822,"Reuchlin, Jonkheer. John George",823,1,0.0000,38.0,0
867,"Roebling, Mr. Washington Augustus II",868,1,50.4958,31.0,0
872,"Carlsson, Mr. Frans Olof",873,1,5.0000,33.0,0

In [151]:
df[['Name','PassengerId','Parch','Age']][(df['Parch']) & (df['Age']<5)]

                                       Name  PassengerId  Parch   Age
7            Palsson, Master. Gosta Leonard            8      1  2.00
10          Sandstrom, Miss. Marguerite Rut           11      1  4.00
16                     Rice, Master. Eugene           17      1  2.00
164            Panula, Master. Eino Viljami          165      1  1.00
171                    Rice, Master. Arthur          172      1  4.00
172            Johnson, Miss. Eleanor Ileen          173      1  1.00
183               Becker, Master. Richard F          184      1  1.00
193              Navratil, Master. Michel M          194      1  3.00
205              Strom, Miss. Telma Matilda          206      1  2.00
340          Navratil, Master. Edmond Roger          341      1  2.00
348  Coutts, Master. William Loch "William"          349      1  3.00
374              Palsson, Miss. Stina Viola          375      1  3.00
407          Richards, Master. William Rowe          408      1  3.00
469           Baclini, Miss. Helene Barbara          470      1  0.75
479                Hirvonen, Miss. Hildur E          480      1  2.00
530                Quick, Miss. Phyllis May          531      1  2.00
618             Becker, Miss. Marion Louise          619      1  4.00
644                  Baclini, Miss. Eugenie          645      1  0.75
691                      Karun, Miss. Manca          692      1  4.00
750                       Wells, Miss. Joan          751      1  4.00
755               Hamalainen, Master. Viljo          756      1  0.67
803         Thomas, Master. Assad Alexander          804      1  0.42
824            Panula, Master. Urho Abraham          825      1  2.00
831         Richards, Master. George Sibley          832      1  0.83
869         Johnson, Master. Harold Theodor          870      1  4.00

# accessing rows iloc & loc

In [155]:
df.iloc[1:10,0:6]

,PassengerId,Survived,Pclass,Name,Sex,Age
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0
5,6,0,3,"Moran, Mr. James",male,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0